/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* open-sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


/* utilities */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* utilities */

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
/* Needs to be modified */
main{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
    /* section */
.container{
    background-color:#FFFFFF;
    width: 870px;
    border-radius: 5px;
    margin-bottom: 21px;
}
    /* first-sub-section */
.first-sub-section{
    margin-left: 30px;
}
.top-player-header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #562EFF;
    margin-top: 33px;
    margin-bottom: 40px;


}
.top-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.player-item{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.player-image img{
    height: 56px;
    width: 56px;

}
.player-name p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    margin-left: 16px;

}
hr{
    width: 807px;
    border: 1px solid #D1D1D1;
}
    /* second-sub-section */
.second-sub-section{
    margin-left: 30px;
    margin-bottom: 16px;
}
.blog-header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #562EFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.blog-items{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    
}
.thumbnail img{
    width: 177px;
    height: 117px;
    
}
.blog-texts h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
}
.blog-texts{
    margin-left: 16px;
    margin-right: 50px;

}
.blog-texts p{
    margin-top: 6px;
    margin-bottom: 6px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #9F9F9F;
}
.blog-texts a{
    text-decoration: none;
    color:#562EFF;

}
/* section-2 */
/* third-sub-setion */
.third-sub-section{
    margin-left: 30px;
}
.latest-course-header h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #562EFF;
    margin-top: 33px;
    margin-bottom: 40px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-item{
    margin-top: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}
.course-detail h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;

}
.course-author p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
}
.course-infos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 11.81px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.blank{
    color: #AEAEAE;
}
.rating-number p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14.6913px;
    color: #A2A2A2;
    margin-top: 18px;
    /* margin-left: 10px; */
}
.hours{
    height: 29px;
    width: 94px;
    border-radius: 14px;
    background-color:#FFE4E8;
    justify-content: center;
    /* margin-left: 12px; */

}
.hours p{
    color: #FF4A60;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.6913px;
    margin-top: 5px;
    margin-left: 9px;

}